@import './nav.css';
@import './sidebar.css';
@import './footer.css';

#container {
  padding-top: 80px;
  /* padding-left: 256px; */
}

#top-content {
  margin-left: 5px;
  border-left: 2px solid #092837;
}
#top-content > .detail-content {
  margin-left: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  line-height: 132%;

  color: #000000;
}

#top-content > .detail-content > h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #0d4c6b;
}
#top-content > .detail-content > span {
  font-size: 19px;
}
#top-content > .detail-content > span > p {
  font-weight: 700;
}

#item-img1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  text-shadow: 1px 3px 11px #0d4c6b;
}
#item-img2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  text-shadow: 1px 3px 11px #0d4c6b;
}
#item-img3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  text-shadow: 1px 3px 11px #0d4c6b;
}
#item-img4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  text-shadow: 1px 3px 11px #0d4c6b;
}
#item-img1 > img {
  width: 48%;
  margin-left: 8px;
  margin-top: 94px;
  margin-bottom: 30px;
}
#item-img2 > img {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 30px;
}
#item-img3 > img {
  margin-top: 5px;
  margin-left: 26px;
  height: 324px;
  margin-bottom: 30px;
}
#item-img4 > img {
  width: 30%;
  margin-top: 110px;
  margin-left: -2px;
  margin-bottom: 30px;
}

#banner-container {
  margin-top: 25px;
  margin-bottom: 25px;
  
}
.banner-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  background: #0b283a;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.banner-container > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-container > .banner-slide {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
}
.banner-container > .banner-slide > img {
  width: 30%;
  height: 272px;
  margin-right: 26px;
  border-radius: 20px;
}
.banner-container > .banner-slide > img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
}

#opinion-parents {
  margin-top: 10px;
}
#opinion-parents > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: #0d4c6b;
}
#opinion-parents > div {
  text-align: center;
}
#opinion-parents > div > .parent-img {
  text-align: center;
  margin-bottom: 20px;
}
#opinion-parents > div > .content {
  border-left: 2px solid #092837;
  margin-left: 32px;
  width: 78%;
  height: auto;
}
#opinion-parents > div > .content > p {
  text-align: left;
  margin-left: 11px;
  font-family: "iCiel Cucho";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  color: #000000;
}
#opinion-parents > div > .parent-img > img {
  width: 95%;
}
#parent3 {
  margin-bottom: -2px;
}

#contact-email {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  background: #0d4c6b;
  margin-top: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
#contact-email > .contact-container {
  text-align: center;
  padding: 20px;
}
#contact-email > .contact-container > .title-contact {
  font-family: "Roboto";
  font-style: normal;
  line-height: 47px;
  text-align: center;

  color: #ffffff;

  margin-bottom: 20px;
}
#contact-email > .contact-container > .title-contact > h2 {
  font-weight: 800;
  font-size: 40px;
}
#contact-email > .contact-container > .title-contact > span {
  font-weight: 400;
  font-size: 23px;
}

#contact-email > .contact-container > .input-group {
  width: 100%;
  text-align: center;
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}

#contact-email > .contact-container > .input-group > button {
  border: 5px solid #0395ce;
  background: #0395ce;
  color: white;
  height: 61px;
}
#contact-email > .contact-container > .input-group > button:hover {
  opacity: 0.5;
}
#contact-email > .contact-container > .input-group > input {
  border: 5px solid #0395ce;
  height: 61px;
}
